<div class="container">
    <h1>Stupid Coach's answer 🚀</h1>
    <div class="div d-flex flex-column">
        <div><%=@answer%></div>   
          <div><%=@question%></div>    
    </div>
    <%= link_to "ask", ask_path %>
</div>