<div class="container">
  <h1>Stupid Coaching🚀</h1>
  <form action="/answer" method="get" class="form-row">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>